:root{
  --blue-green:#B9E7E6; 
  --light-purple: #9591F2;
  --black: #272C34;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,h2,h3,p,span,button{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  margin-top: 8vh;
  height: 700px;
  width: 700px;
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 8px;
  animation-name: enter;
  animation-duration: 1s;
}
@keyframes enter{
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}


